:root {
  --bg: #fcfaf9;
  --fg: #111;
  /* --accent1: linear-gradient(45deg, #ff7e5f, #feb47b); */
  --accent1: #ff7e5f;
  --accent2: linear-gradient(45deg, #6a11cb, #2575fc);
  --accent3: linear-gradient(45deg, #00c6ff, #0072ff);
  --shadow: 4px 4px 0 #000;
  --border: 2px solid #000;
  --font: 'Courier New', Courier, monospace;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  background: var(--bg);
}

header {
  border-bottom: var(--border);
  padding: 2rem;
  background: var(--accent1);
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px #000;
  letter-spacing: 2px;
}

a {
  color: black;
}
