{% extends "base.html" %}

{% block pagecontent %}
        {% block sidebar %}
            <header class="header">
                <div class="">
                    <div class="sidebar-about">
                        {% block sidebar_about %}
                            <a href="{{ config.base_url }}" style="text-decoration: none"><h1>{{ config.title }}</h1></a>
                            {% if config.description %}
                            <p class="lead">{{config.description}}</p>
                            {% endif %}
                        {% endblock sidebar_about %}
                    </div>

                    <ul class="sidebar-nav">
                        {% block sidebar_nav %}
                        {% endblock sidebar_nav %}
                    </ul>
                </div>
                <div>
                  {% for menu in config.extra.menu %}
                  <a href="{{ get_url(path=menu.url) }}">{{ menu.name }}</a>
                  {% endfor %}
                </div>
</ul>
            </header>
        {% endblock sidebar %}

        <div class="content container">
            {% block content %}
                <div class="posts">
                    {% for page in section.pages | reverse %}
                      <div class="post">
                        <h1 class="post-title">
                          <a href="{{ page.permalink }}">
                            {{ page.title | safe }}
                          </a>
                        </h1>
                        <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
                        <br>
                        {% if page.extra.prova %} provaprova {% endif %}
                        <span class="abstract"> {{ page.content | truncate(length=500) | safe }} </span>
                      </div>
                    {% endfor %}
                </div>
            {% endblock content %}
        </div>

{% endblock pagecontent %}
